body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active,
nav a:hover {
    border-bottom: 2px solid #00bcd4;
}

.logo{
    width: 175px;
    height: 125px;
}

.hero {
    background: url('clavier.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.services {
    background-color: #f5f5f5;
    text-align: center;
    padding: 60px 20px;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #222;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.service {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.service h2 {
    color: #00bcd4;
    margin-top: 0;
}

.service ul {
    text-align: left;
    color: #666;
}

.btn {
    display: inline-block;
    background-color: #00bcd4;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #0097a7;
}



/* Section tarifs */
h3 {
    text-align: center;
    color: #222;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

.tarifs {
    background-color: #f5f5f5;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto 40px;
}

.tarif-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.tarif-card:hover {
    transform: translateY(-15px);
}

.tarif-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 200px;
    object-fit: cover;
}

.tarif-card h4 {
    color: #222;
    margin: 10px 0;
    font-size: 1.1rem;
}

.tarif-card p {
    color: #666;
    margin: 8px 0;
}

.price {
    font-size: 1.4rem;
    color: #00bcd4;
    font-weight: bold;
    margin: 15px 0;
}


